log
*.ini
__pycache__
*.pyc
src/ATLASMultiHopQA/processed_data/
*.pkl
*.index
benchmark_data
result
*.npy
*.graphml
import/Dulce/kg_graphml/Dulce_graph.graphml
src/ATLASMultiHopQA/data
neo4j-server-dulce/
import.report
*with_emb.csv
dist
test.py
todo.md
import/hotpotqa_corpus_kg_input